.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  justify-content: flex-start;
  max-width: 80vw;
  height: 100vh;
}
.App .title {
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.App .properties {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1em;
  width: 100%;
}
.App .properties p {
  text-align: left;
  text-transform: capitalize;
  width: 10%;
}
