@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Raleway&display=swap");

:root {
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  justify-content: flex-start;
  margin: auto;
  max-width: 80vw;
  height: 100vh;
  width: 100vw;
}

.properties,
.characters div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1em;
  width: 100%;
}

h1 {
  font-family: "Cinzel Decorative", cursive;
  letter-spacing: 0.1em;
}

.properties p,
.characters div p,
.characters div button {
  width: 10%;
}

button {
  background-color: #ffe8d6;
  border: none;
  border-radius: 50px;
  box-sizing: border-box;
  color: #212529;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  height: 2rem;
  outline: none;
  width: 10%;
}

input {
  box-sizing: border-box;
  border: none;
  width: 10%;
  background-color: #212529;
  color: #ffe8d6;
  font-family: "Raleway", sans-serif;
  outline: none;
}

.properties p,
.characters div p {
  text-align: left;
}
